<form class="row flat-inputs" [formGroup]="patientsInfoForm">
  <div class="col-12 col-sm-6 col-lg-6 me-auto form-group mb-3">
    <label for="">Patient Date of Birth <span class="text-danger">*</span></label>
    <div class="form-group">
      <div class="input-group">
        <input formControlName="DOB" #dob class="form-control" id="dateOfBirthFormat" placeholder="mm/dd/yyyy" name="dp" [(ngModel)]="dateOffBirth" ngbDatepicker
          #d="ngbDatepicker" (click)="d.open();toggleDatePicker()"
           (input)="inputDateFRomCalender($event)">
          
        <span class="input-group-text" (click)="d.open()" onfocus="(this.type='date')">
          <i class="icon-calendar"></i>
        </span>
      </div>
    </div>
  </div>
</form>